<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Test5.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUsernameServlet</display-name>
    <servlet-name>RegisterUsernameServlet</servlet-name>
    <servlet-class>Test5.Servlet.RegisterUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUsernameServlet</servlet-name>
    <url-pattern>/registerName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Test5.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>Test5.Servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/updateuser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeServlet</display-name>
    <servlet-name>ChargeServlet</servlet-name>
    <servlet-class>Test5.Servlet.ChargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeServlet</servlet-name>
    <url-pattern>/charge.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>Test5.Servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrderServlet</display-name>
    <servlet-name>UserOrderServlet</servlet-name>
    <servlet-class>Test5.Servlet.UserOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderServlet</servlet-name>
    <url-pattern>/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserServlet</display-name>
    <servlet-name>ManageUserServlet</servlet-name>
    <servlet-class>Test5.Servlet.ManageUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserServlet</servlet-name>
    <url-pattern>/manageuser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrderServlet</display-name>
    <servlet-name>ManageOrderServlet</servlet-name>
    <servlet-class>Test5.Servlet.ManageOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrderServlet</servlet-name>
    <url-pattern>/manageorder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BigClassServlet</display-name>
    <servlet-name>BigClassServlet</servlet-name>
    <servlet-class>Test5.Servlet.BigClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigClassServlet</servlet-name>
    <url-pattern>/bigclass.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BigClassInsertServlet</display-name>
    <servlet-name>BigClassInsertServlet</servlet-name>
    <servlet-class>Test5.Servlet.BigClassInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigClassInsertServlet</servlet-name>
    <url-pattern>/bigclassinsert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BigClassUpdateServlet</display-name>
    <servlet-name>BigClassUpdateServlet</servlet-name>
    <servlet-class>Test5.Servlet.BigClassUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigClassUpdateServlet</servlet-name>
    <url-pattern>/updatebig.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmallClassServlet</display-name>
    <servlet-name>SmallClassServlet</servlet-name>
    <servlet-class>Test5.Servlet.SmallClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmallClassServlet</servlet-name>
    <url-pattern>/smallclass.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmallClassInsertServlet</display-name>
    <servlet-name>SmallClassInsertServlet</servlet-name>
    <servlet-class>Test5.Servlet.SmallClassInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmallClassInsertServlet</servlet-name>
    <url-pattern>/smallclassinsert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SmallClassUpdateServlet</display-name>
    <servlet-name>SmallClassUpdateServlet</servlet-name>
    <servlet-class>Test5.Servlet.SmallClassUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmallClassUpdateServlet</servlet-name>
    <url-pattern>/updatesmall.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PServlet</display-name>
    <servlet-name>PServlet</servlet-name>
    <servlet-class>Test5.Servlet.PServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PServlet</servlet-name>
    <url-pattern>/p.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>Test5.Servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/goods.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsInsertServlet</display-name>
    <servlet-name>GoodsInsertServlet</servlet-name>
    <servlet-class>Test5.Servlet.GoodsInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsInsertServlet</servlet-name>
    <url-pattern>/goodsinsert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsUpdateServlet</display-name>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <servlet-class>Test5.Servlet.GoodsUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsUpdateServlet</servlet-name>
    <url-pattern>/goodsupdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>Test5.Servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/query.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartBuyServlet</display-name>
    <servlet-name>CartBuyServlet</servlet-name>
    <servlet-class>Test5.Servlet.CartBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartBuyServlet</servlet-name>
    <url-pattern>/buy.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAjaxServlet</display-name>
    <servlet-name>RegisterAjaxServlet</servlet-name>
    <servlet-class>Test5.Servlet.RegisterAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAjaxServlet</servlet-name>
    <url-pattern>/ajax.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserNameServlet</display-name>
    <servlet-name>UpdateUserNameServlet</servlet-name>
    <servlet-class>Test5.Servlet.UpdateUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserNameServlet</servlet-name>
    <url-pattern>/updateusername.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>Test5.Servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/person.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserPasswordServlet</display-name>
    <servlet-name>UpdateUserPasswordServlet</servlet-name>
    <servlet-class>Test5.Servlet.UpdateUserPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPasswordServlet</servlet-name>
    <url-pattern>/updateuserpassword.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserPhoneServlet</display-name>
    <servlet-name>UpdateUserPhoneServlet</servlet-name>
    <servlet-class>Test5.Servlet.UpdateUserPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPhoneServlet</servlet-name>
    <url-pattern>/updateuserphone.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book3Servlet</display-name>
    <servlet-name>Book3Servlet</servlet-name>
    <servlet-class>Test5.Servlet.Book3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book3Servlet</servlet-name>
    <url-pattern>/book3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book1Servlet</display-name>
    <servlet-name>Book1Servlet</servlet-name>
    <servlet-class>Test5.Servlet.Book1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book1Servlet</servlet-name>
    <url-pattern>/book1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book2Servlet</display-name>
    <servlet-name>Book2Servlet</servlet-name>
    <servlet-class>Test5.Servlet.Book2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book2Servlet</servlet-name>
    <url-pattern>/book2.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>Test5.Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>OrderGeneratedServlet</display-name>
    <servlet-name>OrderGeneratedServlet</servlet-name>
    <servlet-class>Test5.Servlet.OrderGeneratedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderGeneratedServlet</servlet-name>
    <url-pattern>/generated.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadyBuyServlet</display-name>
    <servlet-name>ReadyBuyServlet</servlet-name>
    <servlet-class>Test5.Servlet.ReadyBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadyBuyServlet</servlet-name>
    <url-pattern>/readybuy.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationServlet</display-name>
    <servlet-name>OperationServlet</servlet-name>
    <servlet-class>Test5.Servlet.OperationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationServlet</servlet-name>
    <url-pattern>/operation.do</url-pattern>
  </servlet-mapping>
</web-app>